html {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: lighter;

}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

/* Section 1 */

.section-1 {
    width: 100%;
    height: 40vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/image-budget.jpg);
}

/* Main H2 */

h2 {
    margin: 0;
    text-align: center;
    position: relative;
    top: 5%;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;


}

/* Main Budget */

.current-budget {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 30px;
}

/* Incomes */

.income-box {
    display: flex;
    width: 28%;
    height: 18%;
    background-color: rgb(6, 128, 137);
    justify-content: space-between;
    align-items: center;
    margin: 4px;

}

.income-box p {
    font-size: large;
    font-weight: 450;
    padding: 4px;
    padding-left: 10px;
    color: white;
    margin-right: 5rem;
}

.income-list {
    width: 35rem;
}

.income-list h3 {
    color: green !important;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid rgb(156, 155, 155);
    padding-bottom: 15px;
    margin: 0;


}


.income-box span {
    padding: 4px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    align-self: center;

}


/* Expenses */

.expenses-box {
    display: flex;
    width: 28%;
    height: 18%;
    background-color: rgb(250, 48, 48);
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    margin-bottom: 4px;
}

.expenses-box p {
    font-size: large;
    font-weight: 450;
    padding: 4px;
    padding-left: 10px;
    color: white;
    margin-right: 10px;
}

.expenses-box span {
    padding: 4px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    align-self: center;

}

.expenses-list h3 {
    color: red !important;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid rgb(156, 155, 155);
    padding-bottom: 15px;
    margin: 0;

}

.expenses-list {
    width: 35rem;


}

#percentage {
    background-color: rgb(253, 85, 66);
    margin-right: 10px;

}



.inner-expenses-box {
    display: flex;
}

/* Section 2  */
.section-2 {
    width: 100%;
    height: 8vh;
    border-bottom: rgb(220, 220, 220) solid;
    background-color: rgb(230, 230, 230);
}

.container-2 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

}

#Value {
    padding-left: 10px;
    margin-top: 1rem;
    width: 8vh;
}

#Value-minus {
    padding-left: 10px;
    margin-top: 1rem;
    width: 8vh;
}


#Description {
    padding-left: 10px;
    margin-top: 1rem;
    width: 35vh;

}



#Description-minus {
    padding-left: 10px;
    margin-top: 1rem;
    width: 35vh;

}

/* Operator and CheckMark */
#operatorValue {
    border: gray 1px solid;
    margin-top: 1.1rem;
}

.selectBtn select {
    margin-top: 0.6rem;

    padding: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    /* Arrow */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath fill='%23131313' d='M0 1.5L5 8.5 10 1.5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;

    width: 4rem;
    height: 2.5rem;

}

.plus {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 0.8rem;

}

.checkmark-green {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    border-color: green;
    display: block;
    stroke-width: 1;
    stroke: green;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
    margin: 10% auto;
}

.checkmark-red {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    border-color: red;
    display: block;
    stroke-width: 1;
    stroke: red;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
    margin: 10% auto;
}

button {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    outline: none !important;
}

.minus {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 0.8rem;

}


/* Section 3  */


/* Container 3  */


.container-3 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    /* gap: 50px; */
}

.expenses-row {
    display: flex;
    justify-content: space-between;

}

.expensesAmountRow {
    color: red;
    font-weight: 400;
    padding-right: 10px;
}

.incomeAmountRow {
    color: green;
    font-weight: 400;
    padding: 0.6rem
}

.grow {

    padding: 0.4rem;
    flex-grow: 1;
}

.expenses-row svg {
    display: none;

}

.expenses-row:hover svg {
    display: block;

}

.expenses-row {
    margin: 0;
    align-items: flex-end;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid rgb(156, 155, 155);
    padding-bottom: 13px;
    gap: 2px;
}


.income-row:hover svg {
    display: block;

}

.income-row {
    margin: 0;
    align-items: flex-end;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid rgb(156, 155, 155);
    padding-bottom: 13px
}

.income-row svg {
    display: none;

}

.income-row:hover svg {
    display: block;

}


.presentageRow {
    background-color: rgb(248, 197, 191);
    color: red !important;
    font-size: 13px;
    align-self: center;
    padding: 5px;
    margin-top: 1rem;
    margin-right: 0.8rem;
}

.income-row-gray {
    margin: 0;
    background-color: rgba(207, 201, 201, 0.242);
}

/* Media Query */

@media (width <=1315px) {
    .income-list {
        width: 28rem;

    }

    .expenses-list {
        width: 28rem;

    }
}

@media only screen and (width: 1024px) and (height: 1366px) {
    .income-box {
        width: 55%;
        height: 15%;
    }

    .expenses-box {
        width: 55%;
        height: 15%;
    }

    .section-1 {
        height: 30vh;
    }
}


@media (width <=1000px) {
    .income-list {
        width: 20rem;

    }

    .expenses-list {
        width: 20rem;

    }

    .income-box p {
        margin-right: 4rem;
    }



    .income-box {
        display: flex;
        width: 40%;
        height: 18%;

    }


    .expenses-box {
        display: flex;
        width: 40%;
        height: 18%;

    }
}

@media only screen and (width: 912px) and (height: 1368px) {
    .income-box {
        width: 55%;
        height: 15%;
    }

    .expenses-box {
        width: 55%;
        height: 15%;
    }

    .section-1 {
        height: 30vh;
    }
}


@media only screen and (width: 820px) and (height: 1180px) {
    .income-box {
        width: 55%;
        height: 15%;
    }

    .expenses-box {
        width: 55%;
        height: 15%;
    }

    .section-1 {
        height: 30vh;

    }
}

@media (width <=800px) {
    .income-list {
        width: 20rem;

    }

    .expenses-list {
        width: 20rem;

    }

    .income-box p {

        margin-right: 4rem;

    }



    .income-box {
        display: flex;
        width: 40%;
        height: 18%;

    }


    .expenses-box {
        display: flex;
        width: 40%;
        height: 18%;

    }
}

@media only screen and (width: 768px) and (height: 1024px) {
    .income-box {
        width: 55%;
        height: 15%;
    }

    .expenses-box {
        width: 55%;
        height: 15%;
    }

    .section-1 {
        height: 35vh;
    }
}

@media (width <=720px) {
    .container-3 {
        gap: 2rem;
    }

    .income-list {
        width: 30rem;


    }

    .expenses-list {
        width: 30rem;

    }

    .income-box p {

        margin-right: 4rem;

    }



    .income-box {
        display: flex;
        width: 60%;
        height: 18%;

    }


    .expenses-box {
        display: flex;
        width: 60%;
        height: 18%;

    }
}

@media (width <=570px) {
    #Description {
        width: 25vh;
    }

    #Description-minus {
        width: 25vh;
    }
}

@media only screen and (width: 540px) and (height: 720px) {
    .income-box {
        width: 55%;
        height: 17%;
    }

    .expenses-box {
        width: 55%;
        height: 17%;
    }

    .container {
        flex-wrap: nowrap;
    }

    .container-3 {
        margin-top: 2rem;
    }

    .current-budget {
        margin-top: 40px;

        margin-bottom: 10px;
    }

    .section-1 {
        height: 40vh;
    }

    .section-2 {
        height: 10vh;
    }
}

@media (width <=530px) {
    #Description {
        width: 25vh;
    }

    #Description-minus {
        width: 25vh;
    }

    .income-list {
        width: 20rem;


    }

    .expenses-list {
        width: 20rem;

    }
}

@media (width <=470px) {
    #Description {
        width: 15vh;
    }

    #Description-minus {
        width: 15vh;
    }

}

@media (width <=450px) {

    .income-list {
        width: 15rem;


    }

    .expenses-list {
        width: 15rem;

    }

    .income-box {
        display: flex;
        width: 80%;
        height: 18%;

    }


    .expenses-box {
        display: flex;
        width: 80%;
        height: 18%;

    }
}

@media (width <=380px) {
    h2 {
        font-size: 1rem;
    }

    .current-budget {
        font-size: 3rem;

    }

    #Description {
        width: 14vh;
        padding-left: 0.2rem;
    }

    #Description-minus {
        width: 14vh;
        padding-left: 0.2rem;
    }


    #Value {
        width: 4vh;
        padding-left: 0.1rem;
    }

    #Value-minus {
        width: 4vh;
        padding-left: 0.1rem;
    }
}

@media only screen and (width: 375px) and (height: 667px) {
    .container {
        flex-wrap: nowrap;

    }

    #Description {
        width: 15vh;
    }

    #Description-minus {
        width: 15vh;
    }

    #operatorValue {
        width: 0%;
    }

    .selectBtn select {
        padding-left: 1.3rem;
    }

    #Value {
        width: 5vh;
    }

    #Value-minus {
        width: 5vh;
    }

    .current-budget {
        font-size: 2.5rem;
        margin-bottom: 20px;

    }

    .section-2 {
        height: 10vh;
    }

    .container-3 {

        margin-top: 2rem;
    }
}

@media only screen and (width: 360px) and (height: 740px) {
    .container {
        flex-wrap: nowrap;

    }

    #Description {
        width: 15vh;
    }

    #Description-minus {
        width: 15vh;
    }

    #operatorValue {
        width: 0%;
    }

    .selectBtn select {
        padding-left: 1.3rem;
    }

    #Value {
        width: 5vh;
    }

    #Value-minus {
        width: 5vh;
    }

    .current-budget {
        font-size: 2.5rem;
        margin-bottom: 20px;

    }

    .section-2 {
        height: 10vh;
    }

    .container-3 {

        margin-top: 2rem;
    }
}

@media (width <=340px) {
    #Description {
        width: 14vh;
        padding-left: 0.2rem;
    }

    #Description-minus {
        width: 14vh;
        padding-left: 0.2rem;
    }


    #Value {
        width: 4vh;
        padding-left: 0.1rem;
    }

    #Value-minus {
        width: 4vh;
        padding-left: 0.1rem;
    }
}